<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.yak.ops.business.workflow.dao.mapper.WorkflowTaskAttemptMapper">
  <update id="finishAttempt">
    UPDATE yak_wf_task_attempt
    SET state = #{state}, external_id = #{externalId}, error_message = #{errorMessage},
        end_time = #{endTime}
    WHERE id = #{attemptId} AND state = #{runningState}
  </update>

  <update id="interruptRunningAttempts">
    UPDATE yak_wf_task_attempt
    SET state = #{interruptedState}, end_time = #{endTime},
        error_message = COALESCE(error_message, #{message})
    WHERE task_instance_id = #{taskInstanceId} AND state = #{runningState}
  </update>
</mapper>
