<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.yak.ops.business.workflow.dao.mapper.WorkflowTaskLogMapper">
  <!-- 日志查询需要关联执行尝试表，联表 SQL 统一维护在 XML。 -->
  <select id="selectContentListByTaskId" resultType="java.lang.String">
    SELECT l.content
    FROM yak_wf_task_log l
    INNER JOIN yak_wf_task_attempt a ON a.id = l.task_attempt_id
    WHERE a.task_instance_id = #{taskInstanceId}
    ORDER BY l.id
    LIMIT #{limit}
  </select>
</mapper>
